doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
  	.header
			.title(style="margin-right: 30px;")= title
			br
			.headertitle
				a(href="")= url
		.content
			block content
		.footer= footertext
		.menu