body
  margin: auto
  padding: 10px
  width: 1000px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.title
  padding-left: 10px
  color: #AAAAAA
  display: inline-block
  font-size: 24pt
  height: 73px
.header
  display: inline-block
  padding-top: 10px
  padding-left: 10px
  padding-right: 10px
  border-radius: 15px
  border-top-right-radius: 73px
  background-color: black
  height: 63px