body
  margin: auto
  padding: 0px
  width: 1000px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  box-shadow: -10px 10px 5px #888888
  background-color: transparent
a
  color: #00B7FF
.title
  position: absolute
  z-index: 50
  padding-left: 10px
  color: #AAAAAA
  display: inline-block
  font-size: 24pt
.headertitle
  display: inline-block
  padding-top: 10px
  padding-left: 10px
  padding-right: 10px
  border-top-right-radius: 26px
  background-color: #6666DD
  width: 150px
  margin-top: 5px
.header
	display: block
	padding: 0px
	border-top-left-radius: 10px
	border-top-right-radius: 10px
	background-color: black